daemon off;
worker_processes 1;

error_log /var/lib/nginx/error.log warn;
pid /var/lib/nginx/nginx.pid;

events {
  worker_connections 1024;
}

http {
  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                  '$status $body_bytes_sent "$http_referer" '
                  '"$http_user_agent" "$http_x_forwarded_for"';

  access_log /var/lib/nginx/access.log main;

  sendfile on;

  keepalive_timeout  65;

  server {
    listen 8080;
    server_name  dacs;

    location / {
      root   /var/lib/nginx/html;
      index  index.php index.html index.htm;
    }

    location ~ \.php$ {
      root html;
      fastcgi_pass ${SERVICE_NAME}-php:9000;
      fastcgi_index index.php;
      fastcgi_param SCRIPT_FILENAME /var/www/html$fastcgi_script_name;
      include /etc/nginx/fastcgi_params;
    }
  }
}
